<ion-header>
  <ion-toolbar color="light">

    <a href="/destinos" class="header-title">
      <a href="/home">
      ViajaAí
      </a>
    </a>

    <!-- Menu Desktop -->
    <ion-buttons slot="end" class="hidden md:flex gap-4 items-center">

      <ng-container #r="isRoute" appIsRoute="/home"></ng-container>

      @if (r.match) {
        <ion-button  (click)="onClick('destinos')">
          <ion-icon name="pin-outline"></ion-icon>
          <span>Destinos</span>
        </ion-button>
      } @else {
        <ion-button href="/home">
          <ion-icon name="home-outline"></ion-icon>
          <span>Home</span>
        </ion-button>
      }

      <ion-button href="#sobre">Sobre</ion-button>
      <ion-button href="#contato">Contato</ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
