a {
  margin-left:30px;
  color: white;
  text-decoration: none;
}
.header-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 1.4rem;
  background: linear-gradient(90deg, #3b82f6, #9333ea);
  -webkit-background-clip: text;
  color: transparent;
}

.icon-plane {
  font-size: 22px;
  color: #3b82f6;
}

