
ion-card {
  max-width: 360px;
  margin: 15px auto;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.219);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.37);
  }

  ion-img {
    height: 180px;
    width: 100%;
    object-fit: cover;
  }

  ion-badge[slot] {
    position: absolute;
    top: 12px;
    right: 12px;
    background: #ff4081;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 12px;
    z-index: 10;
  }

  ion-card-header {
    padding: 12px;

    ion-card-title {
      --color: #000;
      font-size: 18px;
      font-weight: 600;
      margin: 0;

    }
  }

  ion-card-content {
    padding: 12px;

    p {
      font-size: 14px;
      color: #000000;
      margin-bottom: 8px;
    }

    ion-item {
      --padding-start: 0;
      --padding-end: 0;
      --inner-padding-end: 0;
      --inner-padding-start: 0;
      font-size: 12px;
      color: #ffffff;
        --background: transparent;
  --ion-item-background: transparent;
      display: flex;
      gap: 10px;
      margin-bottom: 10px;

      ion-label {
        font-size: 12px;
        color: #000000;
      }
    }

    ion-button {
      font-size: 12px;
      --padding-start: 6px;
      --padding-end: 6px;
      --color: #000;

      ion-icon {
        margin-right: 4px;
        color: #000;
        font-size: 16px;
        vertical-align: middle;
      }
    }
  }
}
