.main-destinos{
  overflow: auto;
  height: 100vh !important;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;

}

.cards-container app-card {
  width: 100%;
  height: 100%;
}
