<div class="hero">

  <ion-text class="title">
    <h2>Encontre sua próxima aventura</h2>
  </ion-text>

  <ion-text class="subtitle">
    <p>Digite seu CEP e descubra os melhores destinos perto de você</p>
  </ion-text>

  <div class="container-input">
  <ion-card class="box">
    <ion-card-content>

      <ion-item lines="none" class="input-box">

        <ion-input [(ngModel)]="cep" placeholder="Digite o CEP"></ion-input>
      </ion-item>

      <ion-button expand="block" class="btn-search" (click)="buscar()" >
        <ion-icon name="search-outline" slot="start"></ion-icon>
        Buscar
      </ion-button>

    </ion-card-content>
  </ion-card>
    </div>

</div>
