<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="welcome-section">
    <h1>Bem-Vindo(a) à Sua Próxima Viagem!</h1>
    <p>
      Prepare-se para explorar destinos incríveis e planejar a aventura dos seus sonhos.
      Clique nos destinos abaixo para saber mais.
    </p>
  </div>
  
  <hr>
  
  <ion-grid>
    <ion-row class="ion-align-items-stretch">
      
      <ion-col size="12" size-md="4" size-lg="2">
        <ion-card>
          <img alt="Pernambuco" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Pernambuco</ion-card-title>
            <ion-card-subtitle>Subtítulo 1</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>...</ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="2">
        <ion-card>
          <img alt="Rio de Janeiro" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Rio de Janeiro</ion-card-title>
            <ion-card-subtitle>Subtítulo 2</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>...</ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="2">
        <ion-card>
          <img alt="São Paulo" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>São Paulo</ion-card-title>
            <ion-card-subtitle>Subtítulo 3</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>...</ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="12" size-md="4" size-lg="2">
        <ion-card>
          <img alt="Bahia" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Bahia</ion-card-title>
            <ion-card-subtitle>Subtítulo 4</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>...</ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="12" size-md="4" size-lg="2">
        <ion-card>
          <img alt="Minas Gerais" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Minas Gerais</ion-card-title>
            <ion-card-subtitle>Subtítulo 5</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>...</ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="2">
        <ion-card>
          <img alt="Paraná" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Paraná</ion-card-title>
            <ion-card-subtitle>Subtítulo 6</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>...</ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="12" size-md="4" size-lg="2">
        <ion-card>
          <img alt="Santa Catarina" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Santa Catarina</ion-card-title>
            <ion-card-subtitle>Subtítulo 7</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>...</ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="2">
        <ion-card>
          <img alt="Ceará" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Ceará</ion-card-title>
            <ion-card-subtitle>Subtítulo 8</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>...</ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="12" size-md="4" size-lg="2">
        <ion-card>
          <img alt="Goiás" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Goiás</ion-card-title>
            <ion-card-subtitle>Subtítulo 9</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>...</ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="2">
        <ion-card>
          <img alt="Amazonas" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Amazonas</ion-card-title>
            <ion-card-subtitle>Subtítulo 10</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>...</ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="2">
        <ion-card>
          <img alt="Rio Grande do Sul" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Rio Grande do Sul</ion-card-title>
            <ion-card-subtitle>Subtítulo 11</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>...</ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
  
</ion-content>
<!--footer-->
<ion-footer>
  <ion-toolbar>
    <p>© 2024 Viagens e Turismo. Todos os direitos reservados.</p>
  </ion-toolbar>
</ion-footer>